@charset "utf-8";

/*TOPスライダー部分*/

.top-slider-wrap{
  margin-bottom: 80px;  
}

.top-slider.inner {
	width: auto;        
}
.slick-slide img {
	width: 100%;
}
.slick-slide {
	margin: 0 20px;
}





@media screen and (max-width: 768px){
	.top-slider img{
		width: 100%;
	}
	.top-slider.inner{
		margin: 0 0;
	}
	.slick-slide {
		margin: 0 0;
	}

}